/* CATALOG */

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-heading {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: orange;
}

/* card  */

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 4rem;
  column-gap: 4rem;
}

.card {
  width: 32rem;
  min-width: 32rem;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.25rem hsla(0, 0%, 0%, 0.329);
}

.card-img {
  width: 100%;
  object-fit: cover;
  display: block;
  max-height: 21rem;
}

.card-title {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  color: #555;
  font-weight: bolder;
  letter-spacing: 1.1px;
  background-color: rgba(245, 245, 245, 0.936);
  box-shadow: inset 0 0.1rem 0.25rem hsla(0, 0%, 0%, 0.329);
  text-transform: capitalize;
  margin-top: -1.5rem;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.card-body {
  padding: 4rem 2.5rem 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  margin-top: -1.7rem;
  background-color: rgba(251, 249, 234, 0.948);
}
.card-body:nth-of-type(2) {
  background-color: rgba(253, 224, 224, 0.948);
}

.card-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #555;
  min-height: 16rem;
}

.card-btn {
  border: none;
  font-size: 1.4rem;

  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: rgba(177, 228, 177, 0.812);
  align-self: flex-end;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(177, 228, 177, 0.812);
}

.card-btn:hover {
  background-color: rgba(177, 228, 177, 0.952);
  color: inherit;
  box-shadow: 0 0.7rem 1.5rem rgba(177, 228, 177, 0.812);
}

/* Catalog media queries */


@media (max-width: 72.5em) { 

  .cards-container {
    justify-content: space-evenly;
  }

 

}
@media (max-width: 43.6875em) { 

  .cards-container {
    justify-content: center;
  }

  .card {
    width: 45rem;
    min-width: 32rem;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.25rem hsla(0, 0%, 0%, 0.329);
  }

}