@import url(login.css);
@import url(home.css);
@import url(details.css);

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../static/fonts/Outfit-VariableFont_wght.ttf") format("truetype")
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 110rem;
  margin: 0 auto;
  font-family: "Outfit", serif;
}

section {
  padding: 9rem 0;
}


/* CATALOG */

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-heading {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: orange;
}

/* card  */

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 4rem ;
  column-gap: 4rem;
}

.card {
  width: 32rem;
  min-width: 32rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.25rem hsla(0, 0%, 0%, 0.329);
}

.card-img {
  width: 100%;
  object-fit: cover;
  display: block;
  max-height: 21rem;
}

.card-title {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  color: #555;
  font-weight: bolder;
  letter-spacing: 1.1px;
  background-color: rgba(245, 245, 245, 0.936);
  box-shadow: inset 0 0.1rem 0.25rem hsla(0, 0%, 0%, 0.329);
  text-transform: capitalize;
  margin-top: -1.5rem;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.card-body {
  padding: 4rem 2.5rem 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  margin-top: -1.7rem;
  background-color: rgba(251, 249, 234, 0.948);
}
.card-body:nth-of-type(2) {
  background-color: rgba(253, 224, 224, 0.948);
}

.card-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #555;
}

.card-btn {
  border: none;
  font-size: 1.4rem;

  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: rgba(177, 228, 177, 0.812);
  align-self: flex-end;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(177, 228, 177, 0.812);
}

.card-btn:hover {
  background-color: rgba(177, 228, 177, 0.952);
  color: inherit;
  box-shadow: 0 0.7rem 1.5rem rgba(177, 228, 177, 0.812);
}

/* create page start */

.create {
}
.create-heading {
  font-size: 5rem;
  color: orange;
  margin-bottom: 3rem;
  font-weight: 700;
}
#create-form {
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
  padding: 3rem;
  margin: 0 auto;
  max-width: 27rem;
  box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0, 0.25);
  background-color: rgba(255, 68, 0, 0.045);
}

.create-form__title {
  font-size: 1.7rem;
  text-align: center;
  color: #555;
}
label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
input,
textarea {
  padding: 0.6rem 1rem;
  width: 100%;
  border: none;
  border: 1px solid orange;
  margin-top: 0.3rem;
}
input:focus {
  color: #555;
}

#create-btn {
  border: none;
  align-self: flex-start;
  padding: 0.7rem 1.2rem;
  background-color: orange;
  color: whitesmoke;
  cursor: pointer;
}

#create-btn:hover {
  background-color: rgb(187, 121, 0);
}
/* create page end */

/* edit page start */
.edit {

  background-image: linear-gradient(to right bottom, rgba(0,0,0,.25), rgba(0,0,0,0.25)), url('/images/watermelon-pic.jpg');
  background-position: 0 0;
  background-size: cover;
}
.edit-heading {
  font-size: 5rem;
  color: orange;
  margin-bottom: 3rem;
  font-weight: 700;
  text-shadow: 0 0.2rem 0.5rem black;
}

#edit-form {
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
  padding: 3rem;
  margin: 0 auto;
  max-width: 27rem;
  box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0, 0.25);
  background-color: whitesmoke
}

.edit-form__title {
  font-size: 1.7rem;
  text-align: center;
  color: #555;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  border: none;
  align-self: flex-start;
  padding: 0.7rem 1.2rem;
  background-color: orange;
  color: whitesmoke;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: rgb(187, 121, 0);
}

#delete-btn {
  background-color: crimson;
}

#delete-btn:hover {
  background-color: red;
}

/* edit page end */


/* header & navigation  start*/
.header {
  height: 7rem;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0.5rem 0 rgba(0,0,0,0.25);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;

}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-logo {
  text-decoration: none;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
  transition: all .3s;
}

.nav-logo:hover, .nav-logo:active {
  color: orange;
}

.nav-box {
  display: flex;
  column-gap: 1.5rem;
}
.nav-box * {
  text-decoration: none;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;

}

.nav-box *:hover, .nav-box *:active {
  color: orange;
}

#gueat-nav, #user-nav {
  display: flex;
  column-gap: 3rem;
}

#catalog {
  justify-self: flex-start;
}
/* header & navigation  end*/

/* footer start */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  height: 8rem;
  width:  100%;

}
/* footer end */
